@import '../../../styles.scss';
#timer {
  header {
    h1 {
      display: block;
      text-align: center;
    }
    p {
      color: $grey-color;
      display: block;
      text-align: center;
    }
  }
  .clock-container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 60px 20px;
    display: flex;
  }
}
