@import '../../../styles.scss';

#login {
    padding-top: 40px;
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    .imgwrap {
      width: 50%;
      margin: auto;
      img {
        display: block;
        width: 100%;
        max-width: 100px;
        height: auto;
        margin: auto;
      }
    }
  }
  form {
    input {
      display: block;
      margin: 30px auto;
      border-top: none;
      border-left: none;
      border-right: none;
      outline: none;
    }
  }
}
