// Variables
$grey-color: #808080;
$blue-color: #005b96;

.button-primary {
    margin: 0 auto;
    display: block;
    background-color: $blue-color;
    border: none;
    padding: 15px 90px 15px 90px;
    color: white;
    border-radius: 5px;
  }